/* Start Variables */
:root {
  --main-color: #26bba5;
  --color-one: #5f75ff;
  --color-two: #4b5258;
  --color-three: #a7adab;
}
/* End Variables */
/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;1,400;1,600&display=swap');
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}


.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 546px) {

}
/* End Global Rules */
/* Start Framework */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}

@media (max-width: 390px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.card {
  padding: 20px;
  text-align: center;
}

.card h3 {
  color: var(--color-two);
  font-weight: 600;
  margin-top: 30px;
}

.card p {
  color: #777;
  line-height: 1.8;
}
/* End Framework */
/* Start Components */
section {
  padding: 100px 0;
}

.content {
  padding-bottom: 80px;
}

.special-heading {
  color: var(--color-two);
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
}

.special-heading + p {
  color: var(--color-three);
  text-align: center;
  line-height: 1.8;
}

@media (max-width: 546px) {
  .special-heading + p {
    font-size: 12px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 60%;
  margin: auto;
}

.btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  border: none;
  outline: none;
}

@media (max-width: 450px) {
  .btn {
    width: auto;
    flex-direction: column;
  }
}

.btn a {
  color: white;
  width: 260px;
  display: block;
  text-decoration: none;
  padding: 18px 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

@media (max-width: 450px) {
  .btn a {
    margin-bottom: 10px;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
}

.btn:first-child a {
  background-color: var(--main-color);
}

.btn:last-child a {
  background-color: var(--color-one);
}
/* End Components */
/* Start Header */
header {
  padding: 100px 0;
}

header {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  header {
    background-image: url("../images/bg-header-mobile.png");
  }
}

header .container .image {
  width: 100%;
  text-align: center;
}

header .container .header-content .content {
  margin: 50px 0;
}
/* End Header */
/* Start section one */
.sec-one .container .body-sec-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

@media (max-width: 1000px) {
  .sec-one .container .body-sec-one {
    flex-direction: column;
  }
}

.sec-one .container .body-sec-one .image {
width: 50%;
}

.sec-one .container .body-sec-one .image img {
  width: 100%;
}

.sec-one .container .body-sec-one .body-sec-one-content h1,
.sec-one .container .body-sec-one .body-sec-one-content h1 + p {
  text-align: start;
  margin-bottom: .2rem;
}

.sec-one .container .body-sec-one .body-sec-one-content h1 {
  font-size: 1.5rem;
}

.sec-one .container .body-sec-one .body-sec-one-content h1 + p {
  margin-bottom: 2rem;
}
/* End section one */
/* Start section two */
.sec-two {
  background-color: #eee;
}

.sec-two .container .image {
  width: 75%;
  margin: 0 auto;
}

.sec-two .container .image img {
  width: 100%;
}
/* End section two */
/* Start section four */
.sec-four {
  background-color: #eee;
}

.sec-four .cards {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (min-width: 1400px) {
  .sec-four .cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
/* End section four */
/* Start Footer */
footer {
  background-color: #eee;
  padding: 50px 20px;
}

footer .cards-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (max-width: 800px) {
  footer .cards-plus {
    flex-direction: column;
    text-align: center;
  }
}

.cards-plus .card-plus {
  width: 250px;
}

.cards-plus .card-plus .image {
  width: 50px;
}

@media (max-width: 800px) {
  .cards-plus .card-plus .image {
    margin: 0 auto;
  }
}


footer .container .cards-plus .card-plus .image img {
  width: 100%;
}

footer .container .cards-plus .card-plus p {
  color: #777;
}

footer .container .cards-plus .card-plus:last-child a {
  text-decoration: none;
  color: #777;
}
/* End Footer */
